<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Protected</title>
  </head>
  <body>
    <% if(locals.fileLink != null){ %>
    <div>
      Download Link:
      <a href="<%=locals.fileLink%>"><%=locals.fileLink%></a>
    </div>
    <% } %>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="file">File (size limit 10kb):</label><br />
      <input type="file" name="file" id="file" required /><br />
      <label for="password">Password :</label><br />
      <input type="password" name="password" id="password" /><br />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
